body{
background:#0b0f19;
color:white;
font-family:Segoe UI;
padding-top:70px;
}

/* NAVBAR */

.navbar{
background:rgba(0,0,0,.45);
backdrop-filter:blur(10px);
}

.nav-link{
color:white;
display:inline-block;
margin-left:15px;
text-decoration:none;
}

/* HERO */

.hero{
padding:120px 20px 60px;
}

.hero h1{
font-size:56px;
font-weight:700;
}

/* CARD */

.card{
background:#121826;
border:none;
border-radius:18px;
transition:.45s;
box-shadow:0 10px 30px rgba(0,0,0,.6);
}

.card:hover{
transform:translateY(-10px);
}

/* PROJECT */

.project:hover{
box-shadow:0 25px 60px rgba(0,0,0,.8);
}

/* REVEAL */

.reveal{
opacity:0;
transform:translateY(60px);
transition:1s;
}

/* SKILLS */

.skill{margin-bottom:18px}

.bar{
height:12px;
background:#222;
border-radius:20px;
overflow:hidden;
}

.fill{
height:100%;
width:0;
background:linear-gradient(90deg,#00c6ff,#0072ff);
transition:2s;
}

/* FLOAT CONTACT */

.float{
position:fixed;
bottom:25px;
right:25px;
background:#0072ff;
width:60px;
height:60px;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
font-size:26px;
color:white;
text-decoration:none;
}

/* SCROLL PROGRESS */

#progress{
position:fixed;
top:0;
left:0;
height:4px;
background:#0072ff;
width:0%;
z-index:999;
}

.card h5{
    color:white;
    font-size:22px;
    font-weight:800;
    letter-spacing:1px;
    text-transform:uppercase;
}

.card h5::after{
    content:'';
    display:block;
    width:40px;
    height:3px;
    background:#00e5ff;
    margin-top:6px;
    border-radius:5px;
}

.card{
    color:white;
}



